<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <form class='d-flex flex-column' action='{% url "djangoapp:add_review" dealer_id %}' method='post'>
            {% csrf_token %}
            <label class='font-weight-bold' for='car_make'>Car Make</label>
            <input id='car_make' type='text' name='car_make' placeholder='Enter Car Make:' />
            
            <label class='font-weight-bold' for='car_model'>Car Model</label>
            <input id='car_model' type='text' name='car_model' placeholder='Enter Car Model:' />
            
            <label class='font-weight-bold' for='car_year'>Car Year</label>
            <input id='car_year' type='date' name='car_year' placeholder='Enter Car Year:' />
            
            <label class='font-weight-bold' for='purchase_date'>Purchase date</label>
            <input id='purchase_date' type='date' name='purchase_date' placeholder='Enter Purchase Date:' />
            
            <label class='font-weight-bold' for='review'>Review</label>
            <input id='review' type='text' name='review' placeholder='Enter Review:' />
            
            <input type='submit' class='btn btn-primary' value='Submit' />
        </form>
    </body>
</html>