<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class='d-flex justify-content-between align-items-center px-2'>
        <div class='d-flex'>
            Dealership
            <a href='{% url "djangoapp:about" %}' class='ml-2'>About Us</a>
            <a href='{% url "djangoapp:contact" %}' class='ml-2'>Contact Us</a>
        </div>
        <div class='d-flex align-items-center'>
            {% if not request.user.is_authenticated %}
            <form class='form-inline' action='{% url "djangoapp:login" %}' method='post'>
                {% csrf_token %}
                <input class='form-control' type='text' name='username' placeholder='username' />
                <input class='form-control' type='password' name='password' placeholder='password' />
                <input class='btn btn-primary' type='submit' value='Login' />
            </form>
            <a class='ml-2' href='{% url "djangoapp:signup" %}'>Signup</a>
            {% else %}
            <a href='' class='mr-2'>Add review</a>
            ({{ user.username }})
            <a class='btn btn-primary ml-2' href='{% url "djangoapp:logout" %}'>Logout</a>
            {% endif %}
        </div>
    </nav>

    <!-- Add reviews as cards -->
    <div class='card-columns m-2'>
        {% for review in reviews %}
        <div class='card bg-light'>
            <div class='card-header'>
                <img class="card-img-left mt-2" style='width: 2rem;' src='{{MEDIA_URL}}/emoji/positive.png'>
            </div>
            <div class='card-body'>
                <h4 class='card-title'>{{review.car_make}}, {{review.car_model}}</h4>
                <h5 class='card-subtitle'>{{review.car_year}}</h5>
                <div class='card-text'>{{review.review}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    </body>

</html>